extends layout.pug

block content
    script(defer type="module" src="js/index.js")
    div.loggedIn.hidden
        h1 Logged In Test
    div.loggedOut.hidden
        h1 Logged Out Test
    div.signIn.hidden
        include log-in.pug
    div.signUp.hidden
        include sign-up.pug
