
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet' type='text/css' href='/styles/globalStyle.css')
        link(rel='stylesheet' type='text/css' href='/styles/navStyle.css')
        script(defer type="module" src="/js/layout.js")
    body
      header
          nav.topnav.navbar-default
            .logo-container
              h1.logo: a(href="/") MeDaYum
                span.greet  | Welcome back, {insert name here}
            ul.main-nav
              li.signInButton: a.button#signInButton Log-In
              li.signUpButton: a.button#signUpButton Sign-Up
              li.dropdown
                .dropdown-container
                  img(href=`/assets/av/{userId}.png`).button.navAv
                  ul#dropdown-menu.dropdown-menu
                    li: a.button#profileButton 
                      img(href=`/assets/av/{user.id}.png`).av
                      p Profile 
                    li: a.button#createStoryButton Write
                    li: a.button#logoutButton Log out

      main
        //- div.errorButtonDiv: button.errorButton(href='/error-test') Create 500 Error
        block content

      footer
        //- img(src="logo.svg" alt="MeDaYum Logo")
        //- img(src="logo.svg" alt="MeDaYum Logo")
