
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet' type='text/css' href='/styles/style.css')
        script(defer type="module" src="js/index.js")
    body
      header
        nav.topnav
          h1.logo: a(href="/") MeDaYum
          ul.main-nav
            li: a.button.signInButton Log-In
            li: a.button.signUpButton Sign-Up
            li: a.button.logoutButton Log-Out
            li: a.button.dropdown
                  button.dropbtn
                    | Dropdown
                    i.fa.fa-caret-down
                  .dropdown-content
                    a(href='#') Link 1
                    a(href='#') Link 2
                    a(href='#') Link 3

      main
        div.errorButtonDiv: button.errorButton(href='/error-test') Create 500 Error
        block content

      footer
        img(src="logo.svg" alt="MeDaYum Logo")
        img(src="logo.svg" alt="MeDaYum Logo")
