  
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title - #{title}
        script(defer src="js/index.js")
        //- style(type="text/css").
        //-     * {
        //-         box-sizing: border-box;
        //-     }
        //-     body {
        //-         background-color: ghostwhite;
        //-     }
        //-     .topnav {
        //-         background-color: #333;
        //-         overflow: hidden;
        //-         display: flex;
              
        //-     }
        //-     .topnav a {
        //-         color: #f2f2f2;
        //-         text-align: center;
        //-         padding: 14px 16px;
        //-         text-decoration: none;
        //-         font-size: 17px;
        //-     }
        //-     .topnav a:hover {
        //-         background-color: #ddd;
        //-         color: black;
        //-     }
        //-     .topnav a.active {
        //-         background-color: #4CAF50;
        //-         color: white;
        //-     }
        //-     .errorButtonDiv {
        //-         display: grid;
        //-         margin: 20px;
        //-         height: 100px;
        //-         width: 200px;
        //-         background-color: #333;
        //-         color: whitesmoke;
        //-         border: 1px solid white;
        //-         border-radius: 15px;
        //-         position: relative;
        //-     }
        //-     .errorButton {
        //-         position: absolute;
        //-         height: 50px;
        //-         width: 100px;
        //-         justify-self: center;
        //-         align-self: center;
        //-         background-color: ghostwhite;
        //-         border: 1px solid black;
        //-         border-radius: 15px;
        //-         color: black;
        //-     }
    body
      header
        img(src="logo.svg" alt="MeDaYum Logo")
        p Welcome, #{firstname} #{lastName}!
        
        nav.topnav
          ul
            li: a(href="/") Home
            li: a(href="/stories") Stories
            li: a(href="/users/:id") Profile
            li: a(href="/log-in") Log-in
            li: a(href="/sign-up") Sign-Up
      
      main
        div.errorButtonDiv: button.errorButton(href='/error-test') Create 500 Error
        block content
      
      footer
        img(src="logo.svg" alt="MeDaYum Logo")
        
