
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title - #{title}
        link(rel='stylesheet' type='text/css' href='/styles/style.css')
        script(defer src="js/index.js" type="module")
    body
      header
        //- img(src="logo.svg" alt="MeDaYum Logo")
        //- p Welcome, #{firstname} #{lastName}!

        nav.topnav
          h1.logo: a(href="/") MeDaYum
          ul.main-nav
            //- li: a(href="/") Home
            li: a(href="/stories") Stories
            li: a(href="/users") Profile
            li: a(href="/log-in") Log-in
            li: a(href="/sign-up") Sign-Up

      main
        div.errorButtonDiv: button.errorButton(href='/error-test') Create 500 Error
        block content

      footer
        img(src="logo.svg" alt="MeDaYum Logo")
