
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet' type='text/css' href='/styles/style.css')
        script(defer type="module" src="js/index.js")
    body
      header
        img(src="logo.svg" alt="MeDaYum Logo")
        p Welcome, #{firstname} #{lastName}!

        nav.topnav
          h1.logo: a(href="/") MeDaYum
          ul.main-nav
            li: button.signInButton Log-In
            li: button.signUpButton Sign-Up
            li: button.logoutButton Log-Out
            li: button.profile Profile


      main
        div.errorButtonDiv: button.errorButton(href='/error-test') Create 500 Error
        block content

      footer
        img(src="logo.svg" alt="MeDaYum Logo")
        script(type="module" src="js/index.js")
        img(src="logo.svg" alt="MeDaYum Logo")
