//- extends index.pug
include includes/utils.pug

block logIn
  script(defer type="module" src="js/logIn.js")
  .form-container
    .errors-container
    h2 Log In
    form(class="log-in-form")
      input(type="hidden" name="_csrf" value=csrfToken)
      include includes/login-fields.pug
      +btn("Log In", "btn btn-primary", "log-in")
    p Don't have an account?
      a(href='/sign-up')   Sign up here.
    button.demo.btn.btn-primary(type='submit') Demo Login
