include includes/utils.pug

block signIn
  script(defer type="module" src="js/signUp.js")
  .form-container
    .errors-container
    h2 Sign Up
    form(class="sign-up-form")
      +input("First Name", "firstName", "text", "First Name")
      +input("Last Name", "lastName", "text", "Last Name")
      include includes/login-fields
      +input("Confirm Password", "confirmPassword", "password", "Confirm Password")
      +btn("Sign Up", "btn btn-primary", "signupBtn")
    p Already have an account?
      a(href='/')   Log in here.
    button.demo.btn.btn-primary(type='submit') Demo Login
