
block.splashBody
  .headlineOne
    h1.splashSubHeadGroup Show everyone
    h1.splashSubHeadGroup what matters
    h1.splashSubHeadGroup to you
    p.headlineOneTag Explore new interests and bring discussion to the table
    .gridOfButtons
      .bearButton1.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton2.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton3.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton4.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton5.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton6.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton7.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton8.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton9.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton10.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton11.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton12.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton13.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton14.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton15.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
    .signUpBanner
      button.signUpBanner#signUpBanner Get Started
    .borderLine
  .healineOneSpan
    img(src="/icons/Bear_of_California_(Black).svg" class="californiaBear")
    h3.splashTextOne Find riveting stories about bears here!
  .borderLine
  .headlineTwo
    h1.splashHead YOU DAYUM
    .headlineTwoText
      h3.splashText Show us what you've got,
      h3.splashText  and bring your stories to life here!
  .borderLine
  .headlineThree
    h1.splashHead WE DAYUM
    h3.splashText Become a part of our community!
  .signUpBanner
    button.signUpBanner#signUpBanner Get Started
