
block.splashBody
  .headlineOne
    h1.splashSubHeadGroup Show everyone
    h1.splashSubHeadGroup what matters
    h1.splashSubHeadGroup to you
    p.headlineOneTag Explore new interests and bring discussion to the table
    .healineOneSpan
      img(src="/icons/Bear_of_California_(Black).svg" class="californiaBear")
      h3.splashTextOne Find riveting stories about bears here!
  .signUpBanner
    button.signUpBanner#signUpBanner Get Started
  .borderLine
  .headlineTwo
    h1.splashHead YOU DAYUM
    .headlineTwoText
      h3.splashText Show us what you've got
      h3.splashText  and bring your stories to life here!
  .borderLine
  .headlineThree
    h1.splashHead WE DAYUM
    h3.splashText Become a part of our community!
  .signUpBanner
    button.signUpBanner#signUpBanner Get Started
