include includes/utils.pug

doctype html
html(lang="en")
  body.splashBody
    .headlineOne
      h1 ME DAYUM!
    .signUpBanner
      button.signUpBanner Get Started
    .headlineTwo
      h1 YOU DAYUM!
    .headlineThree
      h1 WE DAYUM!

    footer
    i.log-in-form.hidden
    block content
