include utils.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title MeDaYum
    //- link(rel="icon" href="../assets/favicon-32x32.png")
    style
      include ../css/splash.css
  body
    header
      div(class="navbar")
        img(src="logo.svg" alt="MeDaYum Logo")
        nav
          ul
            li
              a(href="http://localhost:3000/sign-up") Sign Up
            li
              a(href="/log-in") Log In
            li
              a(href="#") Demo User
      div(class="heading")
        h1
          | ME DA YUM. YOU DA YUM
          | WE DA YUM!
        p Here are some stories that are definitely Da Yum.
    main
      +splashTag("#", "Splash Tag", "#")
    block content
    footer
      img(src="logo.svg" alt="MeDaYum Logo")