* {
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box
}
body {
  background-color: #F4FAFF;
  margin: 0;
}
.hidden {
	display: none;
}
a {
  cursor: pointer;
}
button {
  cursor: pointer;
}

/* footer */
footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
  background-color: black;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}
footer a {
  color: white;
}
#footerLogo > a {
  background-color: white;
  color: black;
  border-radius: 1px;
  padding: 2px;
  text-align: center;
}
.footerLogoContainer {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
footer .links {
  display: flex;

}
.footerLink {
  margin-right: 1.5em;
}
.copy {
  margin-top: 1em;
  color: white;
}
