
body {
  margin: 0;
}
* {
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
  outline: 1px dashed red;
}
body {
  margin: 0;
}
.hidden {
	display: none;
}
a {
  cursor: pointer;
}
button {
  cursor: pointer;
}
