/* GENERAL STYLINGS FOR THE MAIN HIDDEN BODIES */
.mainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

/* STYLING FOR THE FORMS */
.form-container {
  margin: .5em;
  padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.logInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* STYLING FOR THE SPLASH */
#signUpBanner {
  margin: .5em;
  font-weight: 300;
  font-size: 24px;
  border-radius: .3em;
  text-align: center;
  padding: 8px 16px;
  border-color: #0496FF;
  border: solid;
  border-width: 2px;
  color: white;
  background-color: rgba(4, 150, 255, .8);
  height: 3rem;
  width: 10rem;
}
#signUpBanner:hover {
  background-color: #0496FF;;
}
.splashBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 80%; */
  margin: 0 auto;
}
.headlineOne {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}
.headlineTwo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
.headlineThree {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
.healineOneSpan {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.mainLayoutDiv {
  width: 80%;
}
.splashSubHeadGroup {
  margin: 0;
  padding: 0;
  text-align: center;
}
.headlineOneTag {
  margin-top: .5em;
  padding: 0;
  text-align: center;
}
.splashTextOne {
  align-self: flex-end;

}
/* STYLING FOR THE FEED */

/* CATCH ANY UNHIDDEN ELEMENTS */
.hidden {
  display: none;
}

.btn-primary {
  margin: .5em;
  font-weight: 700;
  border-radius: .3em;
  text-align: center;
  padding: .3em;
  border-color: #0496FF;
  border-width: .1em;
  color: #0496FF;
}
.btn-primary:hover {
  background-color: #0496FF;
  color: white;
}
.emailLogIn {
  font-weight: 700;
  border-radius: .3em;
  text-align: center;
  border-color: #0496FF;
  border-width: .1em;
  padding: .3em;
  margin: .1em;
}
.emailLogIn::placeholder{
  color: #0496FF;
}
.passwordLogIn {
  font-weight: 700;
  border-radius: .3em;
  text-align: center;
  border-color: #0496FF;
  border-width: .1em;
  padding: .3em;
  margin: .1em;
}
.passwordLogIn::placeholder{
  color: #0496FF;
}
.signUpInput {
  font-weight: 700;
  border-radius: .3em;
  text-align: center;
  border-color: #0496FF;
  border-width: .1em;
  padding: .3em;
  margin: .1em;
}
.signUpInput::placeholder {
  color: #0496FF;
}
a.swapToSignUp {
  color: #0496FF
}
a.swapToLogIn {
  color: #0496FF
}
.form-container{
  padding: .3em;
}
.alert-danger {
  background-color: rgba(249, 57, 67, .2);
  text-align: center;
  border-style: solid;
  border-color: #F93943;
  font-weight: 700;
  border-radius: .3em;
  border-width: .1em;
  padding: .3em;
  margin: .2em;
}
