
a {
    text-decoration: none;
    color: #34495e;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navHeader {
	width: 100%;
}
.navHeaderStyles {
	padding-top: .5em;
	padding-bottom: .5em;
	width: 100%;
	border-bottom: 1px solid #a2a2a2;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	background-color: rgba(244, 244, 244, .95);
	position: sticky;
  top: 0;
}
.logo {
	margin: 0;
	font-size: 1.45em;
}
.logo a,
.main-nav a.button {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.main-nav a {
    color: #34495e;
}
.main-nav a:hover {
	color: #718daa;
}
.topNavStyles {
  padding-top: .5em;
	padding-bottom: .5em;
	display: flex;
	border-radius: 5px;
}
.topnav a.button:hover {
	color: #c9c3c3;
	text-decoration: none;
	/* background-color: #121212; */
}
.dropdown-menu {
	display: none;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	/* background-color: #f4f4f4; */
	/* box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75); */
	border-radius: 4px;
}
.clickedDropdownMenu {
	display: block;
	position: absolute;
}

/* .dropdown:hover #dropdown-menu {
	display: block;
	position: absolute;
} */
.demoLogIn {
	border: solid;
	border-radius: .3em;
	border-color: #0496FF;
	border-width: 2px;
  background-color: rgba(4, 150, 255, .8);
}
.demoLogIn:hover {
	background-color: #0496FF;
}
#demoLink {
	color: white;
}
.borderLine {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #a2a2a2;
	width: 40%;
	margin-bottom: 3em;
	margin-top: 2em;
}
.splashFooter {
	width: 100%;
}
.logo {
	border-right: 1px solid #a2a2a2;
}
/* test */
.leftNav {
	display: flex;
}
.greetingTag {
	margin-left: 1em;
}
@media (min-width: 769px) {
	.topnav,
	.main-nav {
		display: flex;
	}
	.topnav {
		flex-direction: column;
		align-items: center;
		width: 70%;
		height: 100%;

	}
	.navHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;

	}
}
@media (min-width: 1025px) {
	.topnav {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.navHeader {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.hidden {
	display: none;
}
