
/* Profile page classes start with pr- */

.pr-userInfo {
  display: grid;
  grid:
    "name avatar" min-content
    "joindate avatar" min-content
    / [name] max-content [av] max-content;
  justify-content: space-around;
  justify-items: start;
  align-items: start;
  margin: 2rem auto 6rem;
  width: 80%;
}
#userContainer {
  grid-area: name;
  display: flex;
  align-items: center;
  align-content: center;
}
#userAv {
  grid-area: avatar;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 10px solid lightgrey;
}
#profileName {
  font-size: 3rem;
  font-family: Cambria, serif;
  margin: 0;
}
#joinDate {
  grid-area: joindate;
  margin: 0;
  color: #666;
  font-size: 1rem;
  font-style: italic;
}
.btnIconic {
  margin: 0 1rem;
  border-radius: 5px;
  border: 1px solid rgb(4, 150, 255);
  color: rgb(4, 150, 255);
  background-color: white;
}

/* For mixins storyIcons */
.storyIcon {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem 0 0;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.icons button {
  border-width: 0px;
  background-color: white;
  font-size: 1rem;
}
.btnLike, .btnComment {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.likeIcon {
  background-image: url("/icons/heart.svg")
}
.likeIcon:hover {
  background-image: url("/icons/heart-h.svg")
}
.commentIcon {
  background-image: url("/icons/chat.svg")
}
.commentIcon:hover {
  background-image: url("/icons/chat.svg")
}
.bookmarkIcon {
  background-image: url("/icons/copy.svg")
}
.bookmarkIcon:hover {
  background-image: url("/icons/copy.svg")
}


/* For mixin authorBlurb */
.authorBlurb {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  font-size: 0.8
}
.authorAv {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  border-radius: 50%;
}


.profileTabs {
  display: flex;
  margin: 0;
  border-bottom: 1px #666 solid;
  list-style: none;
  width: max-content;
}

.userCollections {
  width: 80%;
  
}

.profileFeed {
  display: flex;
  flex-direction: column;
}

/* ***** */
.profileFeed > li {
  list-style: none;
  margin: 1rem 0;
}

/* For mixin storyCardFull */
.storyCard {
  width: 600px;
  border: 1px solid rgba(150,150,150,0.3);
  padding: 1rem 0;
	box-shadow: 0px 0px 14px 0px rgba(150,150,150,0.6);
	/* background-color: rgba(244, 244, 244, .95); */
}
.cardTitle {
  margin: 2rem 1rem 0;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cardCreatedDate {
  margin: 0 1rem;
  font-size: 0.8rem;
  font-style: italic;
}
.cardBanner {
  object-fit: cover;
  width: 100%;
  height: 14rem;
  margin: 1rem 0;
}
