.form-container{
  display: none;
}

header {
  background-color: yellow;
  margin: 0 auto;
  width: 80%;
}

.navbar {
  background-color: lightpink;
  display: flex;
  justify-content: space-between;
}

.navbar img {
  background-color: lightgreen;
  display: inline-block;
}

.navbar ul {
  background-color: lightblue;
  height: 100%;
  list-style-type: none;
  margin-left: 0;
  margin-top: 0;
}

.navbar ul li {
  display: inline-block;
}

.heading {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  white-space: pre-wrap;
}

nav {
  grid-area: links;
}

.navbar > img {
  display: inline-block;
}